{% extends '::empty.html.twig' %}

{% block main %}

{{ error }}

<form action="{{ path('multi_user_login') }}" method="POST">
  <label for="_username">Username</label>
  <input type="text" name="_username" class="form-control" id="_username" placeholder="Username">
  <label for="_password">Password</label>
  <input type="_password" name="_password" class="form-control" id="_password" placeholder="Password">
  <button type="submit">Login</button>
</form>

{% endblock %}
